{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
This is the base template

<br>


<a href="{% url 'Merchant' %}">Merchant List</a><br>
<a href="{% url 'insertMerchant' %}">Insert Merchant</a><br>
<a href="{% url 'Customer' %}">Customer List</a><br>
<a href="{% url 'insertCustomer' %}">Insert Customer</a><br>
<a href="{% url 'Food' %}">Food List</a><br>
<a href="{% url 'insertFood' %}">Insert Food</a><br>
<a href="{% url 'Order' %}">Order List</a><br>
<a href="{% url 'insertOrder' %}">Insert Order</a><br>


{% if user.is_authenticated %}
    <h3>{{ user.username }}</h3>
    <a href="{% url 'logout' %}">Logout</a><br>
{% else %}
    <h3> Stranger!</h3>
    <a href="{% url 'registration' %}">Sign Up</a><br>
    <a href="{% url 'login' %}">Login</a><br>
{% endif %}

{% block content %}

{% endblock content %}




</body>
</html>